<div style="" class="ui-accordion-header ui-helper-reset ui-state-default  ui-corner-top float_container">
    <h3 class="ui-state-default" >Journals</h3>
    <div>
        <table border="0" width="100%">
            <?php foreach ($this->journals as $journal) { ?>
                <tr>
                    <td><a href="<?php echo $this->url(array("controller"=>"journal", "action"=>"show", "journal_id" => $journal->getId())); ?>"><?php echo $journal->getTitle() ?></a></td>
                    <td style="width:20px">&raquo;</td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>

<?php if ($this->posts) { ?>
<div style="" class="ui-accordion-header ui-helper-reset ui-state-default  ui-corner-top float_container">
    <h3 class="ui-state-default" >Posts</h3>
    <div>
        <table border="0" width="100%">
            <?php foreach ($this->posts as $post) { ?>
                <tr>
                    <td><a href="<?php echo $this->url(array("controller"=>"journal", "action"=>"edit-post", "journal_id" => $post->getJournalId(), "postId"=>$post->getId())); ?>"><?php echo substr($post->getTitle(), 0, 20); ?></a></td>
                    <td widt>&raquo;</td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>
<?php } ?>

<?php if ($this->posts) { ?>
<div style="" class="ui-accordion-header ui-helper-reset ui-state-default  ui-corner-top float_container">
    <h3 class="ui-state-default" >Galleries</h3>
    <div>
        <table border="0" width="100%">
            <?php foreach ($this->galleries as $gallery) { ?>
                <tr>
                    <td><a href="<?php echo $this->url(array("controller"=>"album", "action"=>"index", "galleryId" => $gallery->getId())); ?>"><?php echo $gallery->getTitle() ?></a></td>
                    <td style="width:20px">&raquo;</td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>
<?php } ?>

<?php if ($this->albums) { ?>
<div style="" class="ui-helper-reset ui-state-default ui-corner-top float_container">
    <h3 class="ui-state-default" >Albums</h3>
    <div>
        <table border="0" width="100%">
            <?php foreach ($this->albums as $album) { ?>
                <tr>
                    <td><a href="<?php echo $this->url(array("controller"=>"album", "action"=>"photos", "albumId" => $album->getId())); ?>"><?php echo $album->getTitle() ?></a></td>
                    <td style="width:20px">&raquo;</td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>
<?php } ?>

<?php if ($this->photos){ ?>

<div style="" class="ui-accordion-header ui-helper-reset ui-state-default  ui-corner-top float_container">
    <h3 class="ui-state-default" >Photos</h3>
    <div>
    <?php foreach ($this->photos as $photo) {
        $file = $photo->getFiles();
        $image = Bones_Files_Image::createFromFile($file);
       ?> <img src="<?php echo $image->getFullPath(100) ?>"/>
    <?php } ?>
    </div>
</div>

<?php } ?>

