
<h2>Select action for resource <?php echo $this->permission->getResource(); ?></h2>

<div style="padding: 10px">
    <?php foreach($this->available_actions as $a) {
    $checked = in_array($a, $this->selected_actions) ? "checked" : "";
    ?>
        <p style="margin-bottom: 5px;">
            <span style="display:inline-block; width: 15px;"><input type="checkbox" name="actions[]" valye="<?php echo $a; ?>" <?php echo $checked; ?>/></span>
           <?php echo $a; ?>
        </p>
<?php } ?>
        <input type="image" src="/images/admin/save_full.png" name="submit[SAVE]" value="salva" class="button save" onclick=""/>
</div>

