<?php echo $this->partial('partial/acl_menu.phtml'); ?>
<form name="permission_tree" action="<?php echo $this->url(array('action' => 'save')); ?>" method="post">
    <div class="command_bar page alignRightContent">
       <input type="image" src="/images/admin/save.png" name="submit[SAVE]" value="salva" style="border: 0px;"/>
    </div>
<?php //var_dump($this->resources_tree) ?>
<div class="tabbed">
    <ul>
        <?php foreach ($this->resources_tree as $module => $resources) {
            ?><li><a href="#resource-<?php echo $module; ?>"><?php echo $module; ?></a></li><?php
        }?>
    </ul>
  <?php foreach ($this->resources_tree as $module => $resources) { ?>
    <div id="resource-<?php echo $module; ?>" class="resource-panel">
        <div class="tabbed">
            <ul>
                <?php foreach ($this->roles as $role) {
                    ?><li><a href="#role-<?php echo $role->getName(); ?>"><?php echo $role->getName(); ?></a></li><?php }
                ?>
            </ul>
        
        <?php foreach ($this->roles as $role) { ?>
          <div id="role-<?php echo $role->getName(); ?>"  class="accordable role-panel">
            <?php  foreach($resources as $resource => $actions) {?>
                <h3><?php echo str_replace($module. "_" , "", $resource)?></h3>
                <div class="actions-container">
                    <?php  
                    $permissions = AclPermissionQuery::create()->filterByModule($module)->filterByRoleId($role->getId())->filterByResource($resource)->findOne();
                    $allowed_actions = ($permissions instanceof AclPermission) ? unserialize($permissions->getActions()) : array();
                    $is_allowed = $this->acl->isAllowed($role->getName(), "$module:$resource", "on_menu");
                    ?>
                    <div class="acl-item clear">
                        <input type="checkbox" name="permission<?php echo "[{$role->getId()}][$module][$module:$resource][on_menu]"; ?>" <?php echo ($is_allowed) ? "checked" : "" ?>/><span>On Menu</span>
                    </div>
                    <?php 
                    foreach ($actions as $action) { 
                        $filter = new Zend_Filter_Word_CamelCaseToSeparator("-");
                        $action = explode("-", strtolower($filter->filter($action)));
                        array_pop($action);
                        $action = implode("-", $action);
                        $is_allowed = $this->acl->isAllowed($role->getName(), "$module:$resource", $action);
                        ?>
                        <div class="acl-item clear">
                            <input type="checkbox" name="permission<?php echo "[{$role->getId()}][$module][$module:$resource][$action]"; ?>" <?php echo ($is_allowed) ? "checked" : "" ?>/><span><?php echo ucfirst($action);?></span>
                        </div>
                    <?php } ?>
                </div>
            <?php } ?>
          </div>
        <?php } ?>
      </div>      
    </div>
  <?php } ?>
</div>
<div class="command_bar page alignRightContent">
  <input type="image" src="/images/admin/save.png" name="submit[SAVE]" value="salva" style="border: 0px;"/>
</div>
</form>
<?php /*
<form name="savePermission" method="post" action="<?php echo $this->url(array('action' => 'save')); ?>">
    <table id="acl_list">
        <tr>
            <th  style="width: 30px">ID</th>
            <th style="width: 10px">modulo</th>
            <th style="width: 150px">Ruolo</th>
            <th style="width: 150px">Risorsa</th>
            <th style="width: 450px">Azione</th>
            <th style="width: 100px">Permesso</th>
            <th></th>
        </tr>
        <?php foreach ($this->permissions as $p) {
            ?>
            <tr>
                <td><?php echo $p->getId() ?></td>
                <?php //$p = new AclPermissions(); ?>
                <td>
                    <select name="module[<?php echo $p->getId() ?>]">
                        <option value="admin" <?php echo ($p->getModule() == 'admin') ? 'selected' : '' ?>>admin</option>
                        <option value="user" <?php echo ($p->getModule() == 'default') ? 'selected' : '' ?>>default</option>
                    </select>
                </td>
                <td>
                    <select name="role_id[<?php echo $p->getId() ?>]" style="width: 150px">
                        <?php foreach ($this->roles as $role) {
                            ?><option value="<?php echo $role->getId() ?>" <?php echo ($p->getRoleId() == $role->getId()) ? 'selected' : '' ?>><?php echo $role->getName() ?></option><?php }
                        ?>
                    </select>
                </td>
                <td>
                    <select name="resource[<?php echo $p->getId() ?>]" style="width: 150px" class="acl-resource" rel="<?php echo $p->getId() ?>" id="acl-resource-<?php echo $p->getId() ?>">
                        <?php foreach ($this->available_resources as $resource) { ?>
                            <option value="<?php echo $resource ?>" <?php echo ($resource == $p->getResource()) ? 'selected' : '' ?>>
                                <?php echo $resource ?>
                            </option>
                        <?php } ?>
                    </select>
                </td>
                <td><input class="actions" rel="<?php echo $p->getId()?>" id="actions-<?php echo $p->getId()?>" type="text" readonly value="<?php echo str_replace("#", ",", $p->getActions()); ?>" name="actions[<?php echo $p->getId() ?>]" style="width: 450px"/>
                </td>
                <td><select name="permission[<?php echo $p->getId() ?>]" style="width: 100px">
                        <option value="0" <?php echo ($p->getPermission()) ? '' : 'selected' ?>>Deny</option>
                        <option value="1" <?php echo ($p->getPermission()) ? 'selected' : '' ?>>Allow</option>
                </td>
                <td>
                    <input type="submit" value="salva" name="submit[save][<?php echo $p->getId() ?>]">
                    <input type="submit" value="cancella" name="submit[del][<?php echo $p->getId() ?>]">
                </td>
            </tr>
            <?php }
        ?>
        <tr>
            <td><?php echo ''; ?></td>
            <td>
                <select name="module[0]">
                    <option value="admin" >admin</option>
                    <option value="default" >default</option>
                </select>
            </td>
            <td>
                <select name="role_id[0]" style="width: 150px">
                    <?php foreach ($this->roles as $role) {?>
                    <option value="<?php echo $role->getId() ?>" ><?php echo $role->getName() ?></option><?php } ?>
                </select>
           </td>
           <td>
           <select name="resource[0]" style="width: 150px" class="acl-resource">
                    <?php foreach ($this->available_resources as $resource) { ?>
                        <option value="<?php echo $resource ?>">
                        <?php echo $resource ?>
                        </option>
                        <?php } ?>
                </select>
            </td>
            <td><input type="text" value="" name="actions[0]" style="width: 450px"/></td>
            <td><select name="permission[0]" style="width: 100px">
                    <option value="0" >Allow</option>
                    <option value="1" >Deny</option>
            </td>
            <td>
                <input type="submit" value="aggiungi" name="submit[save][0]">
            </td>
        </tr>
    </table>
</form>
 * 
 */