@CHARSET "UTF-8";
* {
    font-family: arial;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

body {
    color: #1E1D18;
    background: #FFF;
}

a {
    color: #43131F;
    text-decoration: none;
}

a:hover {
    color: #43131F;
    text-decoration: underline;
}

.clear {
    clear: both;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #e6e6e6;
    text-align: left;
    padding: 5px;
}

#header {
    padding: 5px;
    border-bottom: 1px solid #666;
    background: url("bones/images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #E6E6E6
}

#header h3 {
    font-size: 15px;
    color: #666;
}

#main_content {
    padding: 10px;
}

#main_content h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#main_content h1 span {
    font-size: 20px;
}

#login_table {
    margin: auto;
    width: 300px;
    border: 0px;
}

#login_table td, #login_table th {
    border: 0px;
}

#left_col {
    width: 200px;
    float: left;
    margin-right: 10px;
    padding: 5px;
}

.icon-green {
    background-image: url("bones/images/ui-icons_26d939_256x240.png");
}

#main_menu {
    padding: 2px 0px;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    width: 100%;
}

#main_menu li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

#main_menu li a {
    text-transform: uppercase;
}

ul.menu {
    list-style: none outside none;
    margin: 0px;
    margin-bottom: 5px;
}

ul.menu li {
    list-style: none outside none;
    padding: 5px;
    border-bottom: 1px dashed #666;
}

ul.menu li a {
    text-decoration: none;
}

.up_level {
    padding: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menu {
    width: 200px;
}

.content {
    width: 800px;
}

.alignRightContent {
    text-align: right;
}

.ico_yes {
    width: 24px;
    height: 24px;
    background: url('/images/admin/yes.png') no-repeat;
    float: left;
    display: block;
}

.ico_no {
    width: 24px;
    height: 24px;
    background: url('/images/admin/no.png') no-repeat;
    float: left;
    display: block;
}

/* FORM PAGE PROPERTIES */
#menu_label {
    margin: 0px;
}

input, select, checkbox {
    border: 1px solid #666;
    padding: 3px;
}

.edit_page_form label {
    display: block;
    padding: 2px;
    font-weight: bold;
}

h4.title {
    margin-bottom: 10px;
    font-size: 15px;
}

.ui-state-highlight {
    height: 24px;
}

.ui-state-success {
    background: #DCF5C4;
    border: 1px solid #5FBF00;
}

#table_page_list {
    width: 100%;
    border-collapse: collapse;
}

tr.list_header {
    text-align: center;
    background: url("bones/images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}

#table_page_list th, #table_page_list td {
    background: transparent;
    padding: 5px;
    border: 1px solid #e6e6e6;
}

.ui-button {
    font-weight: bold;
}

.button.save {
    /* background: #04D608; */
    color: white;
    border: 1px solid black;
}

.button.delete {
    /* background: #FF0505; */
    color: white;
    border: 1px solid black;
}

div.slot {
    border: 1px dotted #DDD;
    padding: 5px;
    margin: 5px;
    width: 390px;
}

div.slot.main {
    width: 800px;
}

div.slot div.article_content.mini img {
    display: none;
}

.horizontal_list {
    padding: 0px;
    padding-bottom: 5px;
    width: 100%;
}

.horizontal_list li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.horizontal_list li a {
    text-decoration: none;
    text-transform: uppercase;
}

.command_bar {
    border-top: 0;
    border-bottom: 1px solid #678;
    padding: 3px;
    margin-bottom: 5px;
}

.command_bar.low {
    border-bottom: 0;
    border-top: 1px solid #678;
    padding: 3px;
    margin-top: 5px;
}

div#paginator {
    text-align: center;
}

.paginator span {
    margin-left: 10px;
}

.paginator span a {
    text-decoration: none;
}

.paginator .first, .paginator .last, -paginator .prev, .paginator .next {
    font-weight: bold;
}

.empty-content {
    background: #fff;
    height: 100%;
}

.strong {
    font-weight: bold;
}

.acl-item {

}

.acl-item input {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.acl-item span {
    display: inline-block;
    float: left;
}

.float_container {
    width: 300px;
    height: 200px;
    float: left;
    margin: 5px;
}

.float_container h3 {
    padding: 10px
}

.float_container > div {
    padding: 10px;
    height: auto;
}

.float_container > div img {
    float: left;
}

.float_container table, .float_container td {
    border: 0px;
}

.float_container table {
    width: 100%;
}

.resource-panel.ui-tabs-panel {
	padding: 1em 0;
}
.resource-panel .tabbed{
border: 0px;
}
.role-panel.ui-tabs-panel {
padding: 1em 0;
}