<style>
    pre.roflcopter {
        color: #ff00ff;
        font-weight: bold;
        line-height: 1em;
        font-size: 18px;
    }
</style>

<h1><?php echo $this->translate("This is not the page you are looking for"); ?></h1>
<h2>404 not found</h2>
<!--// Supercool ROFLCOPTER snippet by Stefan Ernst ( http://www.thxbye.de/ ) - YAY WE BEGIN //-->
<pre class="roflcopter">
<span id="rofl_main_left">ROFL:ROFL</span>:LOL:<span id="rofl_main_right">ROFL:ROFL</span>
           |
  <span id="rofl_small_top">L</span>   /---------
 <span id="rofl_small_left">L</span>O<span id="rofl_small_right">L</span>===       []\
  <span id="rofl_small_bottom">L</span>    \         \
        \_________\
          |     |
       -------------/
</pre>
<script type="text/javascript">
    //<![CDATA[
    function rofl_chop_left() {
        document.getElementById('rofl_main_left').style.visibility = 'visible';
        document.getElementById('rofl_main_right').style.visibility = 'hidden';
        document.getElementById('rofl_small_right').style.visibility = 'hidden';
        document.getElementById('rofl_small_left').style.visibility = 'hidden';
        document.getElementById('rofl_small_top').style.visibility = 'visible';
        document.getElementById('rofl_small_bottom').style.visibility = 'visible';
        setTimeout('rofl_chop_right()', 125);
    }

    function rofl_chop_right() {
        document.getElementById('rofl_main_left').style.visibility = 'hidden';
        document.getElementById('rofl_main_right').style.visibility = 'visible';
        document.getElementById('rofl_small_right').style.visibility = 'visible';
        document.getElementById('rofl_small_left').style.visibility = 'visible';
        document.getElementById('rofl_small_top').style.visibility = 'hidden';
        document.getElementById('rofl_small_bottom').style.visibility = 'hidden';
        setTimeout('rofl_chop_left()', 125);
    }

    rofl_chop_left();

    //]]>
</script>
<!--// Supercool ROFLCOPTER snippet by Stefan Ernst ( http://www.thxbye.de/ ) - YAY THE END //-->
