<h1>Cache Management</h1>
<div class="command_bar page alignRightContent">
    <input type="image" src="/images/admin/save.png" name="submit[SAVE]" value="salva" style="border: 0px;"/>
</div>
<form name="flush_cache" action="<?php echo $this->url(array('action' => 'flush')); ?>" method="post">
    <div>
        <h2><?php echo $this->translate("Scegli la Cache da cancellare");?></h2>
    </div>
    <div>
        <?php foreach($this->cache_templates as $template) { ?>
            <div class="option-name">
                <input type="checkbox" name="templates[]" value="<?php echo $template; ?>"><span class="field-name"><?php echo $template ?></span>
            </div>
        <?php } ?>
    </div>
    <div class="command_bar page alignRightContent low">
        <input type="image" src="/images/admin/save.png" name="submit[SAVE]" value="salva" style="border: 0px;"/>
    </div>
</form>
