        <table id="table_journal_list">
            <tr class="list_header">
                <th>id</th>
                <th>titolo</th>
                <th>data</th>
                <th>ordine</th>
                <th>publico</th>
                <th style="width: 16px">&nbsp;</th>
            </tr>
            <?php foreach($this->post_list as $post) {?>
            <tr>
           		<td><?php echo $post->getId();?></td>
                <td><a href="<?php echo $this->url(array('controller' => 'journal', 'action' => 'edit-post', 'journal_id' => $this->journal->getId(),'postId'=> $post->getId(), 'lang' => $this->lang),'admin', true);?>"><u><?php echo $post->getTitle();?></u></a></td>
                <td><?php  $date = new Zend_Date($post->getStartDate(), 'it_IT'); echo $date->get(Zend_Date::DATE_FULL, 'en_US');?></td>
                <td><?php echo $post->getRank();?></td>
                <td>
                    <a href="<?php echo $this->url(array('action'=>'toggle-public-post', 'post_id' => $post->getId())); ?>">
                    <span class="ico_<?php echo ($post->getIsPublic() == 1) ? "yes" : "no" ?>"/></span>
                    </a></td>
            </tr>


            <?php }?>
            <tr >
            <td colspan="6" style="">
            <a href="<?php echo $this->url(array('controller' => 'journal', 'action' => 'edit-post', 'journal_id' => $this->journal->getId()),'admin', true);?>"><img src="/images/admin/new.png"></a>
            <?php if ($this->show_settings) {?>
              <a href="<?php echo $this->url(array('controller' => 'page', 'action' => 'show', 'pageId' => $this->journal->getPageId()),'admin', true);?>"><img src="/images/admin/settings.png"></a>
            <?php }?>
             <?php if ($this->show_list) {?>
            	<a href="<?php echo $this->url(array('controller' => 'journal', 'journal_id' => $this->journal->getId(),'action'=>'show'),'admin', true);?>""><img src="/images/admin/list.png"></a>
            <?php }?>


            <br style="clear:both">
            </td></tr>
        </table>