<div id="paginator">
    <div class="paginator">
        <span class="first">
            <?php if ($link = $this->pager->getFirstPage()) { ?>
                <a href="<?php echo $this->url(array('offset' => $link)) ?>">&laquo;</a>
            <?php } else { ?>
            <?php } ?>
        </span>
        <span class="prev">
            <?php if ($link = $this->pager->getPrev()) { ?>
                <a href="<?php $this->url(array('offset' => $link)) ?>">&lt;</a>
            <?php } else { ?>&lt;<?php } ?>
        </span>
        <?php foreach ($this->pager->getPrevLinks() as $link) { ?>
            <span><a href="<?php $this->url(array('offset' => $link)) ?>"><?php echo $link ?></a></span>
        <?php } ?>
        <span class="current"><?php echo $this->pager->getPage() ?></span>
        <?php foreach ($this->pager->getNextLinks() as $link) { ?>
            <span><a href="<?php $this->url(array('offset' => $link)) ?>"><?php echo $link ?></a></span>
        <?php } ?>
        <span class="next">
            <?php if ($link = $this->pager->getNext()) { ?> <a href="<?php $this->url(array('offset' => $link)) ?>">&gt;</a>
            <?php } else { ?>&gt;<?php } ?>
        </span>
        <span class="last">
            <?php if ($link = $this->pager->getLastPage()) { ?> <a href="<?php $this->url(array('offset' => $link)) ?>">&raquo;</a>
            <?php } else { ?>&raquo;<?php } ?>
        </span>
    </div>
</div>
