<script>
    $(document).ready(function() {
        $( "#journal_details_accordion").accordion({ active: 0 });

    });
</script>
<div style="margin: auto; width: auto">
    <h1>Editing Journal</h1>
    <form name="edit_journal" id="edit_journal" action="<? echo $this->url(array('action' => 'save')) ?>" method="post" enctype="multipart/form-data">
        <div class="command_bar page alignRightContent">
            <input type="image" src="/images/admin/save.png" name="submit[SAVE]" value="SAVE" style="border: 0px;"/>
            <input type="image" src="/images/admin/delete.png" name="submit[DEL]" value="DEL" style="border: 0px;" onclick="javascript:confirmDelete('edit_album');"/>
        </div>
        <div id="journal_details_accordion">
            <h3><a>Titolo e descrizione</a></h3>
            <div>
                <input type="hidden" name="journal_id" value="<? echo $this->journal->getId() ?>"/>
                <div style="margin-bottom: 10px">
                    <input type="text" style="width:100%" name="title" id="title" value="<?php echo $this->journal->getTitle() ?>">
                </div>
                <div style="margin-bottom: 10px">
                    <div>
                        <?php
                        $fck1 = new Bones_Utils_Editor('text_abstract');
                        $fck1->setValue($this->journal->getTextAbstract());
                        $fck1->setToolbarSet(Bones_Utils_Editor::TOOLBAR_MINIMAL);
                        $fck1->setHeight(200);
                        $fck1->create();
                        ?>
                    </div>
                </div>
            </div>
           <br style="clear: both"/>
        </div>
    </form>
    <br style="clear: both;"/>
</div>