<div style="margin: auto; width: auto">
    <div id="page_accordion">
    <?php echo $this->partial('partial/journal_post.phtml', array('journal'=>$this->journal, 'post'=>$this->post))?>
    <br style="clear: both;"/>
</div>