<h1>Journals</h1>
<div class="command_bar page alignRightContent"><a href="<?php echo $this->url(array('controller' => 'journal', 'action' => 'edit', 'journal_id' => null));?>"><img src="/images/admin/new.png"/></a></div>
<table id="table_page_list">
		<tr class="list_header">
		<th>id</th>
		<th>nome</th>
		<th>n° post</th>
		<th>edit</th>
		<th>view</th>
</tr>
<?php foreach($this->journals as $journal ){?>
<tr>
	<td><?php echo $journal->getId(); ?></td>
	<td><?php echo $journal->getTitle();?></td>
    <td><?php echo $journal->countJournalPosts();?></td>
	<td style="width: 32px;"><a href="<?php echo $this->url(array('action'=>'edit', 'journal_id' => $journal->getId()));?>"><img src="/images/admin/edit.png"/></a></td>
	<td style="width: 32px;"><a href="<?php echo $this->url(array('controller' => 'journal', 'action'=>'show', 'journal_id' => $journal->getId()));?>"><img src="/images/admin/list.png"/></a></td>
</tr>

<?php }?>
</table>
<div class="command_bar page alignRightContent low"><a href="<?php echo $this->url(array('controller' => 'journal', 'action' => 'edit', 'journal_id' => null));?>"><img src="/images/admin/new.png"/></a></div>
<br style="clear:both"/>
<?php echo $this->partial('partial/paginator.phtml', array('pager' => $this->pager)); ?>

