<h1>Journal</h1>
<div class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top">
	<h3 style="padding:10px"class="ui-state-default" ><?php echo ucfirst($this->journal->getTitle());?></h3>
	<div style="padding:10px;height:auto" style="">
		<?php echo $this->journal->getTextAbstract();?>
		<br/><br/>	
		<?php echo $this->partial('partial/journal_post_list.phtml',array('journal' => $this->journal,'post_list'=> $this->post_list, 'show_settings' => false, 'show_list' => false));?>
		<br style="clear:both"/>
		<?php echo $this->partial('partial/paginator.phtml', array('pager' => $this->pager)); ?>
	</div>
</div>