<script>
$(document).ready(function() {
	$( "#gallery_details_accordion").accordion({ active: 0 });

});
</script>
<div style="margin: auto; width: auto">
    <h1>Editing photogallery</h1>
    <form name="edit_gallery" action="<? echo $this->url(array('action'=>'save'))?>" method="post" enctype="multipart/form-data">
    <div class="command_bar page alignRightContent">
		<input type="image" src="/images/admin/save.png" name="submit[SAVE]" value="salva" style="border: 0px;"/>
		<input type="image" src="/images/admin/delete.png"" name="submit[DEL]" value="cancella" style="border: 0px;" onclick="javascript:confirmDelete('edit_gallery');"/>
	</div>
    <div id="gallery_details_accordion">
    	<h3><a>Titolo e descrizione</a></h3>
		<div>
		    <input type="hidden" name="gallery_id" value="<? echo $this->gallery->getId()?>"/>
		    <div style="margin-bottom: 10px">
		        <h3 style="margin-bottom: 5px;">Titolo</h3>  <input type="text" style="width:100%" name="title" id="title" value="<?php echo $this->gallery->getTitle()?>">
		     </div>
		     <div style="margin-bottom: 10px">
		        <h3 style="margin-bottom: 5px;">Descrizione</h3>
		        <div>
		            <?php
		    		$fck1 = new Bones_Utils_Editor('description');
		    		$fck1->setValue($this->gallery->getDescription());
		    		$fck1->setToolbarSet(Bones_Utils_Editor::TOOLBAR_MINIMAL);
		    		$fck1->setHeight(200);
		    		$fck1->create();
		    		?>
		        </div>
		     </div>
		</div>
	</form>
	<br style="clear: both;"/>
</div>