<?php echo $this->doctype() . "\n"; ?>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Bones | <?php echo $this->page_title ?></title>
        <?php echo $this->partial("partial/default/meta_facebook.phtml"); ?>
        
        <?php echo $this->headMeta() ;?>
        <meta name="Description" content="<?php echo (empty($this->meta_description)) ? "Bones & Comfort is a southern stoner band from Milan, Italy. Lots of Groove and Heavy Riffs at your service." : strip_tags($this->meta_description); ?>"/>
        <?php echo $this->headLink() ?>
        <?php echo $this->headStyle() ?>
        <script type="text/javascript">
            var lang = '<?php echo $this->lang; ?>';
        </script>
        <?php echo $this->headScript() ?>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '********']);
            _gaq.push(['_trackPageview']);
            (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body class="<? echo $this->body_class; ?>">
        <div id="main_content">
            <div id="header_main_container">
                <div class="site_width"><p>Bones CMS</p></div>
            </div>
            <div id="header_bottom"></div>
            <div class="page_container">
                <div class="site_width">
                    <?php echo $this->layout()->content ?>
                </div>
            </div>
        </div>
        <div id="footer_container">
            <div class="site_width">

            </div>
        </div>

    </body>
</html>
